body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
    background-color: #d9d9d9;
    color: #333333;
    padding: 1em;
    text-align: center;
    align-items: center;
    display: flex;
    z-index: 9;
    grid-template-columns: auto 1fr;
    /* Define duas colunas: uma para o logo e outra para o título */
    gap: 20px;
    /* Espaço entre o logo e o título */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
}

header .logo {
    margin-right: 70px;
    height: 80px;

}

header h1 {
    margin: 0;
    font-size: 1.5em;
    /* Ajuste o tamanho da fonte conforme necessário */
    flex: 1;
    /* Permite que o título ocupe o espaço restante */
    text-align: center;
    /* Centraliza o título */
    word-break: break-word;
    /* Permite que o título quebre em várias linhas */
    overflow-wrap: break-word;
    /* Permite quebra de palavra para títulos longos */

}

main {
    margin: 20px;
    margin-top: 140px;
    flex: 1 1 0
}

h1 {
    color: #333
}

footer {
    background-color: #333;
    color: #FFF;
    padding: 1em;
    display: flex;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px
}

footer a {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #FFF;
    font-size: 16px;
    text-decoration: none;
}



#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
}

.item-galeria {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    cursor: pointer;
    text-align: center
}

.item-galeria img {
    width: 100%;
    height: auto
}

.item-sobre {
    width: 60%;
    height: auto
}

.imagemSobre {
    display: flex;
    align-items: center;
    justify-content: center
}

.item-galeria h3 {
    margin: 10px 0;
    padding: 0 10px;
    color: #333
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4)
}

.conteudo-modal {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.conteudo-modal img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    border-radius: 8px;
    /* Limita a altura máxima da imagem a 80% da altura da viewport */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.escola {
    height: 25px;
    width: 100%;
    box-sizing: border-box
}

.sobre,
.alunosDevs {
    height: 25px;
    width: calc(100% / 6.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: .7
}

footer a:hover {
    text-decoration: underline;
    font-size: 20px
}

.modalSobre {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.btnClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.btnClose:hover,
.btnClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}



@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        text-align: center;
        /*flex-direction: column;
        /* Coloca os itens em uma coluna para telas menores 
        align-items: flex-start;
        /* Alinha os itens à esquerda */
    }

    header h1 {
        text-align: left;
        /* Alinha o título à esquerda */
        margin-top: 10px;
        /* Adiciona espaço acima do título */
    }

    .item-galeria {
        width: 100%;
        /* Faz os itens da galeria ocuparem a largura total */
        max-width: 300px;
        /* Define uma largura máxima para os itens */
    }

    .conteudo-modal {
        width: 90%;
        /* Aumenta a largura do modal para ocupar mais espaço na tela menor */
    }
}

@media (max-width: 480px) {

    header {
        padding: 0.5em;
        /* Reduz o padding do header em telas muito pequenas */
    }

    header .logo {
        height: 40px;
        /* Reduz o tamanho da logo em telas muito pequenas */
    }

    header h1 {
        font-size: 1.2em;
        /* Reduz o tamanho da fonte do título em telas muito pequenas */
    }

}
